{% extends 'base.html.twig' %}
{% block bodyclass %} class="body-single"{% endblock %}
{% block navbar %}
<!-- Collect the nav links, forms, and other content for toggling -->
{#
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('login') }}">{% trans %}Sign in{% endtrans %}</a></li>
        <li class="highlight"><a href="{{ path('register') }}">{% trans %}Sign up{% endtrans %}</a></li>
    </ul>
</div>
#}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="highlight"><a href="mailto:discover@bindeo.com">{% trans %}Contact us{% endtrans %}</a></li>
    </ul>
</div>
<!-- /.navbar-collapse -->
{% endblock %}
{% block footer %}
{% if app.request.cookies.has('ACCEPT_COOKIES') == false %}
    <div class="cookies">
        <div class="container">
            {% trans %}We use cookies to improve safety and user experience{% endtrans %}
            <a href="#">{% trans %}More information{% endtrans %}</a>
            <a href="#" data-action="dismiss-cookies">{% trans %}Ok, understood{% endtrans %}</a>
        </div>
    </div>
{% endif %}
{% endblock %}