<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans %}Signature certificate{% endtrans %}</title>
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/pdf.css">
    {% block script %}{% endblock %}
</head>
{% block body %}{% endblock %}
</html>