$path-images: './../images/';
$path-assets: './../images/assets/';
$path-icons: './../images/icons/';

$color-theme: #0070BD;
$color-links: #0089E7;
$color-success: #049DBF;
$color-error: #ff6469;

$font-color: #333;
$font-weight: 300;

$font-size-micro: 11px;
$font-size-small: 12px;
$font-size-text: 13px;
$font-size-normal: 14px;

$shadow-header: rgba(0, 0, 0, 0.25) 0 0 1px;
$shadow-menu: rgba(0, 0, 0, 0.25) 0 0 1px;
$shadow-text: rgba(0, 0, 0, 0.25) 0 0 1px;
$shadow-box: rgba(0, 0, 0, 0.25) 0 0 1px;
$shadow-strong: rgba(0, 0, 0, 1) 0 0 25px;

