.sign-button {
    & > div {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: $color-theme;
        padding: 10px 0;
        font-size: $font-size-text;
        color: #fff;
        z-index: 1030;

        > div {
            text-align: center;

            a {
                margin-left: 10px;
            }
        }
    }
}