{% extends 'base.html.twig' %}

{% block body %}
<section class="section-home">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <h1>{% trans %}Bindeo is the application to protect your intellectual property{% endtrans %}.</h1>
            <h2>Aquí la segunda explicación... algo rápido de leer si la primera ha llamado la atención, máximo 2 líneas.</h2>

            <div class="action clearfix">
                <a href="#" class="btn btn-primary btn-lg">Empieza aquí</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
