{% extends 'base-nolog.html.twig' %}

{% block bodyclass %}{% endblock %}

{% block body %}
<section class="section-home">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <h1>{% trans %}Bindeo is the application to protect and manage your property{% endtrans %}.</h1>
            <h2>Extended explanation here.</h2>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="action clearfix">
                <a href="{{ path('register') }}" class="btn btn-primary btn-lg">{% trans %}Start here{% endtrans %}</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container-fluid container-links">
        <div class="container">
            <p class="text-muted ">Place footer content here... for example a list of links...</p>
        </div>
    </div>
    <div class="container-fluid container-strip">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-9 left">
                    Some text here...!
                </div>
                <div class="col-xs-4 col-sm-3 right">
                    <a href="#"> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> </a> <a href="#">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> </a> <a href="#"> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> </a>
                </div>
            </div>
        </div>
    </div>
</footer>

{{ parent() }}
{% endblock %}