# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            174a2b95bb27a46f8bc1e09179b2734c54c2837e

    api_url: private.bindeo.com
    api_token: 680ef7583f177ef707ebd0800de41c13f86270ed92948442a91c7e21cf5a0bbe

    files:
        files_tmp_folder: ~

    locale: en_US

    emails:
        contact: contact@bindeo.com