{% extends 'base-log.html.twig' %}

{% block title %}
    {% trans %}Configuration{% endtrans %}
{% endblock %}

{% block body %}
<section class="">
    <div class="container">
        <div class="row">
            {{ include('user/partials/edit-preferences.html.twig') }}
            {{ include('user/partials/edit-password.html.twig') }}
            {{ include('user/partials/close-account.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user.js') }}"></script>
{% endblock %}