{% extends 'base-nolog.html.twig' %}

{% block title %}
    {% trans %}Password reset{% endtrans %}
{% endblock %}

{% block body %}
<section class="forms form-signup">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1>{% trans %}Check your inbox{% endtrans %}</h1>
            </div>
            <div class="form-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <p>{% trans with{'%email%': '<strong>'~email~'</strong>'} %}
                    If we found an account associated with this email address %email%, you will find and email in your inbox shortly
                    {% endtrans %}.</p>

                <p>{% trans with{'%a_start%': '<a href="mailto:'~contact~'">', '%a_end%': '</a>'} %}
                    If you're not sure about which email you used to sign up in to Bindeo or experience any other problem, please, %a_start%contact us%a_end%
                    {% endtrans %}.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}