{% extends is_granted('IS_AUTHENTICATED_REMEMBERED')
? 'base-log.html.twig'
: 'base-nolog.html.twig'
%}

{% block title %}{% trans %}Validate your change{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h1>
                {% if success == true %}
                    {% if type == 'V' %}
                        {% trans %}Account confirmed!{% endtrans %}
                    {% elseif type == 'E' %}
                        {% trans %}Email changed!{% endtrans %}
                    {% elseif type == 'P' %}
                        {% trans %}Password changed!{% endtrans %}
                    {% endif %}
                {% else %}
                    {% trans %}Sorry, your token is expired{% endtrans %}
                {% endif %}
            </h1>
        </div>
    </div>
</div>
{% endblock %}