{% extends 'base-certificate.html.twig' %}
{% block body %}
<body>
{% if not authorization %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                <h2>
                    {% trans with {'%a_start_l%':'<a href="'~path('login')~'">', '%a_start_c%':'<a href="'~path('register')~'">', '%a_end%': '</a>'} %}You do not have authorization, maybe you need to %a_start_l%login%a_end% with the correct account or %a_start_c%create%a_end% a new account with the same email{% endtrans %}
                </h2>
            </div>
        </div>
    </div>
</section>
{% else %}
{% include 'data/partials/'~type~'-certificate-header.html.twig' %}
{% include 'data/partials/'~type~'-certificate.html.twig' %}
{% include 'data/partials/'~type~'-certificate-footer.html.twig' %}
{% endif %}
</body>
{% endblock %}