{% extends 'base-log.html.twig' %}

{% block title %}
    {% trans %}Confirm your account{% endtrans %}
{% endblock %}

{% block body %}
<section data-type="main" class="">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>{% trans %}Important!{% endtrans %}</h1>
                <p>{% trans %}Your name and your email address are being used for ownership notarization, if are not right, certificate is not valid for you{% endtrans %}.
                    {% trans %}Please, confirm your data{% endtrans %}:</p>

                <div class="forms">
                    {{ include('data/partials/file-preupload-form.html.twig') }}
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/files.js') }}"></script>
{% endblock %}