{% extends 'base-log.html.twig' %}

{% block title %}
    {% trans %}Great, check your inbox!{% endtrans %}
{% endblock %}

{% block body %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>{% trans %}Great, check your inbox!{% endtrans %}</h1>
                <p>{% trans with={'%email%': '<strong>'~email~'</strong>'} %}We've sent you an email to %email% for allow to confirm your email address{% endtrans %}.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}