{% extends 'base-certificate.html.twig' %}
{% block script %}
    <script>
        function subst() {
            var vars = {};
            var x = window.location.search.substring(1).split('&');
            for(var i in x) {
                var z = x[i].split('=', 2);
                vars[z[0]] = unescape(z[1]);
            }
            var x = ['page', 'topage'];
            for(var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for(var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
            }
        }
    </script>
{% endblock %}
{% block body %}
{% if authorization %}
<body onload="subst();">
{% include 'data/partials/signature-certificate-footer.html.twig' %}
</body>
{% endif %}
{% endblock %}