@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* line 1, ../sass/includes/_0_helper.scss */
.display-block {
  display: block;
}

/* line 5, ../sass/includes/_0_helper.scss */
.cursor-copy {
  cursor: copy !important;
}

/* line 9, ../sass/includes/_0_helper.scss */
.margin-bottom-0 {
  margin-bottom: 0;
}

/* line 13, ../sass/includes/_0_helper.scss */
.margin-top-25 {
  margin-top: 25px;
}

/* line 1, ../sass/includes/_0_basics.scss */
a {
  color: #0089E7;
}

/* line 5, ../sass/includes/_0_basics.scss */
a:hover {
  text-decoration: none;
}

/* line 9, ../sass/includes/_0_basics.scss */
p {
  line-height: 18px;
}

/* line 13, ../sass/includes/_0_basics.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 17, ../sass/includes/_0_basics.scss */
h1 {
  font-size: 24px;
}

/* line 21, ../sass/includes/_0_basics.scss */
h2 {
  font-size: 20px;
}

/* line 25, ../sass/includes/_0_basics.scss */
h3 {
  font-size: 16px;
}

/* line 29, ../sass/includes/_0_basics.scss */
.text-main {
  font-size: 14px;
  line-height: 18px;
}

/* line 34, ../sass/includes/_0_basics.scss */
.text-small, .forms .form-intro, .forms .form-notice {
  font-size: 13px;
  line-height: 15px;
}

/* line 39, ../sass/includes/_0_basics.scss */
.text-mini, .forms form .has-error .help-block {
  font-size: 12px;
  line-height: 14px;
}

/* line 45, ../sass/includes/_0_basics.scss */
label {
  font-weight: 300;
}

/* line 50, ../sass/includes/_0_basics.scss */
.checkbox > label, .radio > label {
  font-weight: 300;
  padding-left: 25px;
}
/* line 54, ../sass/includes/_0_basics.scss */
.checkbox > label > input[type="checkbox"], .radio > label > input[type="checkbox"] {
  margin-left: -25px;
}

/* line 60, ../sass/includes/_0_basics.scss */
.form-control, .dropdown-menu {
  font-size: 14px;
}

/* line 64, ../sass/includes/_0_basics.scss */
.btn-link {
  color: #0089E7;
}

/* line 1, ../sass/includes/_0_basics.scss */
a {
  color: #0089E7;
}

/* line 5, ../sass/includes/_0_basics.scss */
a:hover {
  text-decoration: none;
}

/* line 9, ../sass/includes/_0_basics.scss */
p {
  line-height: 18px;
}

/* line 13, ../sass/includes/_0_basics.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 17, ../sass/includes/_0_basics.scss */
h1 {
  font-size: 24px;
}

/* line 21, ../sass/includes/_0_basics.scss */
h2 {
  font-size: 20px;
}

/* line 25, ../sass/includes/_0_basics.scss */
h3 {
  font-size: 16px;
}

/* line 29, ../sass/includes/_0_basics.scss */
.text-main {
  font-size: 14px;
  line-height: 18px;
}

/* line 34, ../sass/includes/_0_basics.scss */
.text-small, .forms .form-intro, .forms .form-notice {
  font-size: 13px;
  line-height: 15px;
}

/* line 39, ../sass/includes/_0_basics.scss */
.text-mini, .forms form .has-error .help-block {
  font-size: 12px;
  line-height: 14px;
}

/* line 45, ../sass/includes/_0_basics.scss */
label {
  font-weight: 300;
}

/* line 50, ../sass/includes/_0_basics.scss */
.checkbox > label, .radio > label {
  font-weight: 300;
  padding-left: 25px;
}
/* line 54, ../sass/includes/_0_basics.scss */
.checkbox > label > input[type="checkbox"], .radio > label > input[type="checkbox"] {
  margin-left: -25px;
}

/* line 60, ../sass/includes/_0_basics.scss */
.form-control, .dropdown-menu {
  font-size: 14px;
}

/* line 64, ../sass/includes/_0_basics.scss */
.btn-link {
  color: #0089E7;
}

/* line 1, ../sass/includes/_1_layout.scss */
.cookies {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000;
  padding: 10px 0;
  font-size: 13px;
  color: #fff;
  z-index: 8101;
}
/* line 11, ../sass/includes/_1_layout.scss */
.cookies > div {
  text-align: center;
}
/* line 14, ../sass/includes/_1_layout.scss */
.cookies > div a {
  margin-left: 10px;
}

/* line 21, ../sass/includes/_1_layout.scss */
.section-home {
  background: url(./../images/bg2.jpg);
  background-position: center center;
  background-size: cover;
  margin-top: -55px;
  padding-top: 50px;
  min-height: 560px;
  text-align: center;
}
/* line 30, ../sass/includes/_1_layout.scss */
.section-home h1, .section-home h2, .section-home h3, .section-home h4 {
  text-shadow: black 0 0 25px;
}
/* line 34, ../sass/includes/_1_layout.scss */
.section-home h1 {
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
@media (min-width: 768px) {
  /* line 34, ../sass/includes/_1_layout.scss */
  .section-home h1 {
    margin-top: 120px;
    font-size: 30px;
  }
}
/* line 46, ../sass/includes/_1_layout.scss */
.section-home h2 {
  font-size: 18px;
  color: white;
}
@media (min-width: 768px) {
  /* line 46, ../sass/includes/_1_layout.scss */
  .section-home h2 {
    font-size: 20px;
  }
}
/* line 55, ../sass/includes/_1_layout.scss */
.section-home .action {
  margin-top: 30px;
}
/* line 58, ../sass/includes/_1_layout.scss */
.section-home .action .btn {
  min-width: 240px;
}

/* line 64, ../sass/includes/_1_layout.scss */
.section-home-features {
  padding: 30px 0;
}
/* line 68, ../sass/includes/_1_layout.scss */
.section-home-features .row > div > div {
  text-align: center;
  padding: 15px;
}
/* line 72, ../sass/includes/_1_layout.scss */
.section-home-features .row > div > div img {
  margin: 0 auto;
  max-height: 32px;
}
/* line 77, ../sass/includes/_1_layout.scss */
.section-home-features .row > div > div h3 {
  margin: 20px 0 5px;
  font-size: 14px;
  font-weight: 400;
}

/* line 87, ../sass/includes/_1_layout.scss */
.section-home-proofs {
  padding: 30px 0;
  background: #004C7F;
  color: #fff;
}

/* line 93, ../sass/includes/_1_layout.scss */
.section-home-public {
  padding: 30px 0;
}

/* line 97, ../sass/includes/_1_layout.scss */
.section-home-start {
  padding: 30px 0;
  background: #0070BD;
  color: #fff;
}

/* line 2, ../sass/includes/_1_forms.scss */
.forms h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
/* line 8, ../sass/includes/_1_forms.scss */
.forms h2 {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
/* line 14, ../sass/includes/_1_forms.scss */
.forms .form-group > label, .forms .labeled {
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 2px;
}
/* line 20, ../sass/includes/_1_forms.scss */
.forms input[type="text"], .forms input[type="email"], .forms input[type="password"], .forms button, .forms select {
  height: 44px;
}
/* line 24, ../sass/includes/_1_forms.scss */
.forms .btn-full {
  width: 100%;
}
/* line 32, ../sass/includes/_1_forms.scss */
.forms .form-notice {
  text-align: center;
}
/* line 39, ../sass/includes/_1_forms.scss */
.forms form .has-feedback .form-control-feedback {
  margin-top: 20px;
  height: 44px;
  line-height: 44px;
}
/* line 47, ../sass/includes/_1_forms.scss */
.forms form.labels-no .form-group > label {
  display: none;
}
/* line 52, ../sass/includes/_1_forms.scss */
.forms form.labels-no .has-feedback .form-control-feedback {
  top: 0;
  margin-top: 0;
}
/* line 60, ../sass/includes/_1_forms.scss */
.forms form .has-success .form-control {
  border-color: #049DBF;
}
/* line 63, ../sass/includes/_1_forms.scss */
.forms form .has-success .form-control-feedback {
  color: #049DBF;
}
/* line 69, ../sass/includes/_1_forms.scss */
.forms form .has-error .form-control {
  border-color: #ff6469;
}
/* line 72, ../sass/includes/_1_forms.scss */
.forms form .has-error .form-control-feedback, .forms form .has-error .help-block {
  color: #ff6469;
}

/* line 83, ../sass/includes/_1_forms.scss */
.form-signup {
  margin-top: 2em;
}
/* line 86, ../sass/includes/_1_forms.scss */
.form-signup .form-box {
  margin-top: 2em;
}

/* line 92, ../sass/includes/_1_forms.scss */
.list-actions {
  margin-top: 25px;
}
/* line 95, ../sass/includes/_1_forms.scss */
.list-actions > a {
  margin-right: 10px;
}
/* line 98, ../sass/includes/_1_forms.scss */
.list-actions > a:last-child {
  margin-right: 0;
}

/* line 106, ../sass/includes/_1_forms.scss */
.form-inline-size .size-medium select {
  width: 120px;
}
/* line 112, ../sass/includes/_1_forms.scss */
.form-inline-size .size-big select {
  width: 200px;
}

/* line 1, ../sass/includes/_1_modals.scss */
.modal {
  /*
   * Generic
   */
}
@media (max-width: 767px) {
  /* line 3, ../sass/includes/_1_modals.scss */
  .modal .modal-dialog {
    margin: 0;
  }
}
/* line 9, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px;
}
/* line 15, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content button.close {
  margin-top: 10px;
}
/* line 18, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content button.close span {
  padding: 6px 14px;
}
/* line 23, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
}
/* line 26, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content .modal-header h4 {
  font-weight: bold;
  font-size: 14px;
}
/* line 33, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content .modal-body > div {
  margin-bottom: 15px;
}
/* line 36, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content .modal-body > div:last-child {
  margin-bottom: 0;
}
/* line 41, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content .modal-body .form-group {
  margin-bottom: 5px;
}
/* line 44, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content .modal-body .form-group:last-child {
  margin-bottom: 0;
}
/* line 50, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content .modal-footer {
  border-top: 0;
}
/* line 53, ../sass/includes/_1_modals.scss */
.modal .modal-dialog .modal-content .modal-footer .btn {
  padding: 6px 24px;
}
@media (max-width: 767px) {
  /* line 1, ../sass/includes/_1_modals.scss */
  .modal {
    top: inherit;
  }
  /* line 63, ../sass/includes/_1_modals.scss */
  .modal.fade .modal-dialog {
    transform: translate(0, 25%);
  }
  /* line 69, ../sass/includes/_1_modals.scss */
  .modal.in .modal-dialog {
    transform: translate(0, 0);
  }
}
/* line 78, ../sass/includes/_1_modals.scss */
.modal .list-group .list-group-item {
  padding: 0;
}
/* line 80, ../sass/includes/_1_modals.scss */
.modal .list-group .list-group-item > a {
  display: block;
  width: 100%;
  padding: 10px 15px;
}

/* line 3, ../sass/includes/_1_single.scss */
.body-single nav.navbar {
  background: #0070BD;
  margin-top: 0;
}
/* line 9, ../sass/includes/_1_single.scss */
.body-single nav.navbar .navbar-header .navbar-brand img {
  width: 100px;
  margin-top: -3px;
}

/* line 1, ../sass/includes/_1_user.scss */
.body-user {
  background: #eee;
  margin-bottom: 15px;
}
/* line 5, ../sass/includes/_1_user.scss */
.body-user nav.navbar {
  background: #0070BD;
  margin-top: 0;
  margin-bottom: 15px;
}
/* line 12, ../sass/includes/_1_user.scss */
.body-user nav.navbar .navbar-header .navbar-brand img {
  width: 100px;
  margin-top: -3px;
}
@media (max-width: 767px) {
  /* line 18, ../sass/includes/_1_user.scss */
  .body-user nav.navbar .navbar-collapse {
    background: #fff;
  }
  /* line 23, ../sass/includes/_1_user.scss */
  .body-user nav.navbar .navbar-collapse ul.navbar-nav > li.active > a {
    background: #eee;
  }
}
@media (min-width: 768px) {
  /* line 29, ../sass/includes/_1_user.scss */
  .body-user nav.navbar .navbar-collapse ul.navbar-nav > li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 33, ../sass/includes/_1_user.scss */
  .body-user nav.navbar .navbar-collapse ul.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/* line 43, ../sass/includes/_1_user.scss */
.body-user .section-drag {
  background: #eee;
  margin-top: -15px;
  margin-bottom: 15px;
}
/* line 49, ../sass/includes/_1_user.scss */
.body-user .drag {
  position: relative;
  margin: 0 0 15px;
  padding: 15px;
  text-align: center;
  min-height: 172px;
}
/* line 58, ../sass/includes/_1_user.scss */
.body-user .drag .file h1 {
  font-weight: 300;
  font-size: 24px;
}
/* line 63, ../sass/includes/_1_user.scss */
.body-user .drag .file .sync {
  margin-top: 20px;
}
/* line 66, ../sass/includes/_1_user.scss */
.body-user .drag .file .sync p {
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 72, ../sass/includes/_1_user.scss */
.body-user .drag .file .sync div a {
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px;
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 5px;
}
/* line 79, ../sass/includes/_1_user.scss */
.body-user .drag .file .sync div a:last-child {
  margin-right: 0;
}
/* line 87, ../sass/includes/_1_user.scss */
.body-user .drag .load {
  margin: 0 auto;
  padding: 33px 0 0;
}
/* line 95, ../sass/includes/_1_user.scss */
.body-user .drag .load .progress {
  margin-bottom: 0;
}
/* line 98, ../sass/includes/_1_user.scss */
.body-user .drag .load .progress .progress-bar {
  font-size: 11px;
}
/* line 104, ../sass/includes/_1_user.scss */
.body-user .drag .load .btn-link {
  margin-top: 15px;
}
/* line 109, ../sass/includes/_1_user.scss */
.body-user .drag .done {
  padding: 10px 0 0;
}
/* line 112, ../sass/includes/_1_user.scss */
.body-user .drag .done .glyphicon {
  font-size: 36px;
}
/* line 117, ../sass/includes/_1_user.scss */
.body-user .drag .btn-file {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10px 12px;
}
@media (min-width: 768px) {
  /* line 117, ../sass/includes/_1_user.scss */
  .body-user .drag .btn-file {
    width: inherit;
    padding: 6px 12px;
  }
}
/* line 128, ../sass/includes/_1_user.scss */
.body-user .drag .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
/* line 146, ../sass/includes/_1_user.scss */
.body-user .col-tools {
  margin-bottom: 5px;
}
/* line 151, ../sass/includes/_1_user.scss */
.body-user .col-tools .tools-path .dropdown-path > a {
  font-weight: 300;
  color: #333;
}
/* line 160, ../sass/includes/_1_user.scss */
.body-user .col-tools .tools-size {
  text-align: right;
}
/* line 171, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item {
  background: white;
  margin: 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px;
  height: 44px;
}
/* line 178, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item > div {
  height: 100%;
}
/* line 180, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item > div > div {
  height: 100%;
}
/* line 185, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item .item-icon {
  background: #eee;
  text-align: center;
  font-size: 18px;
}
/* line 190, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item .item-icon span {
  line-height: 44px;
  opacity: 0.5;
}
/* line 196, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item .item-name {
  padding: 0;
}
/* line 199, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item .item-name > a {
  display: block;
  padding: 12px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 206, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item .item-name > a span {
  float: right;
  margin-left: 10px;
  color: #ccc;
}
/* line 214, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item .item-opts {
  padding: 0;
}
/* line 217, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item .item-opts > .btn-group {
  width: 100%;
  height: 100%;
}
/* line 221, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item .item-opts > .btn-group > a {
  background: #eee;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 46px;
  font-size: 18px;
}
/* line 235, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item:hover span {
  opacity: 1.0;
}
/* line 242, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item.item-load .item-name {
  background-image: url(./../images/assets/load-item.gif);
  background-repeat: no-repeat;
  background-position-y: 17px;
  background-position-x: 15px;
}
/* line 248, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item.item-load .item-name > a {
  padding-left: 40px;
}
/* line 256, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item.item-search .col-button {
  border-left: 1px solid rgba(0, 0, 0, 0.14);
}
/* line 265, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item.item-search .col-button .dropdown-menu .active > a:before {
  content: "\e013";
  font-family: "Glyphicons Halflings";
  line-height: 1;
  margin: 0 5px 0 -15px;
  display: inline-block;
  font-size: 10px;
}
/* line 278, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item.item-search .item-name > input {
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 44px;
}
/* line 289, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item-loading {
  background-image: url(./../images/assets/load-more.gif);
  background-repeat: no-repeat;
  background-position: center 15px;
  text-align: center;
  padding: 55px 15px 15px;
}
/* line 298, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item-empty {
  background-image: url(./../images/icons/states_message.png);
  background-repeat: no-repeat;
  background-position: center 15px;
  text-align: center;
  padding: 150px 15px 15px;
}
/* line 307, ../sass/includes/_1_user.scss */
.body-user .list > ul > li.item-empty h3 {
  margin: 0;
}

/* line 1, ../sass/includes/_2_drop.scss */
.drop {
  display: none;
}
/* line 4, ../sass/includes/_2_drop.scss */
.drop > div {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9001;
}
/* line 12, ../sass/includes/_2_drop.scss */
.drop > div > div {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* line 1, ../sass/includes/_2_dropdown.scss */
.dropdown-menu {
  margin-bottom: 15px;
  min-width: 200px;
}
/* line 6, ../sass/includes/_2_dropdown.scss */
.dropdown-menu li a {
  padding: 5px 20px;
}
@media (min-width: 768px) {
  /* line 6, ../sass/includes/_2_dropdown.scss */
  .dropdown-menu li a {
    padding: 3px 20px;
  }
}
/* line 13, ../sass/includes/_2_dropdown.scss */
.dropdown-menu .dropdown-header {
  font-size: 14px;
  color: #ddd;
}

/* line 22, ../sass/includes/_2_dropdown.scss */
.dropdown-path a.dropdown-toggle {
  background: none;
  border: none;
  box-shadow: none;
  text-align: left;
  padding: 0px;
  width: 100%;
  color: black;
}
/* line 33, ../sass/includes/_2_dropdown.scss */
.dropdown-path ul.dropdown-menu a {
  padding-left: 15px;
}
/* line 36, ../sass/includes/_2_dropdown.scss */
.dropdown-path ul.dropdown-menu a span {
  margin-right: 5px;
}

/* line 1, ../sass/includes/_2_notifications.scss */
.notifications {
  position: fixed;
  bottom: 15px;
  width: 100%;
  z-index: 1040;
}
/* line 8, ../sass/includes/_2_notifications.scss */
.notifications .alert {
  margin: 0;
}

/* line 1, ../sass/includes/_2_shortcut.scss */
.shortcut {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
/* line 6, ../sass/includes/_2_shortcut.scss */
.shortcut > div {
  margin: 2px;
}
/* line 9, ../sass/includes/_2_shortcut.scss */
.shortcut > div > a {
  display: block;
  background-color: #0070BD;
  border-radius: 100%;
  padding: 14px 16px 12px 18px;
  font-size: 18px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px;
}
/* line 18, ../sass/includes/_2_shortcut.scss */
.shortcut > div > a > span {
  color: #fff;
}

/* line 2, ../sass/includes/_2_list.scss */
.list-bulk > li {
  margin-bottom: 10px;
}

/* line 24, ../sass/styles.scss */
body {
  font-family: "Open Sans", sans-serif;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 14px;
}
/* line 1, ../sass/includes/_3_edu.scss */
body.edu {
  background: #fff;
  background-image: url("./../images/edu/isdi/bg.png");
  background-repeat: repeat no-repeat;
  background-position: center -30px;
}
/* line 7, ../sass/includes/_3_edu.scss */
body.edu section.header {
  margin-bottom: 25px;
}
/* line 10, ../sass/includes/_3_edu.scss */
body.edu section.header .nav {
  margin: 15px 0 25px;
  padding: 10px 0;
  border-bottom: 1px dotted #858585;
}
/* line 19, ../sass/includes/_3_edu.scss */
body.edu section.header .nav .pull-right {
  text-align: right;
}
/* line 22, ../sass/includes/_3_edu.scss */
body.edu section.header .nav .pull-right .more {
  display: inline;
  margin-right: 15px;
}
/* line 28, ../sass/includes/_3_edu.scss */
body.edu section.header .nav .pull-right .lang button {
  background: none;
  padding: 0;
  border: none;
  box-shadow: none;
}
@media (min-width: 768px) {
  /* line 28, ../sass/includes/_3_edu.scss */
  body.edu section.header .nav .pull-right .lang button {
    top: -1px;
  }
}
/* line 39, ../sass/includes/_3_edu.scss */
body.edu section.header .nav .pull-right .lang .dropdown-menu {
  min-width: 140px;
}
/* line 47, ../sass/includes/_3_edu.scss */
body.edu section.header .brand .thumbnail {
  padding: 10px 0 20px;
}
/* line 51, ../sass/includes/_3_edu.scss */
body.edu section.header .brand h1 {
  text-align: center;
}
/* line 59, ../sass/includes/_3_edu.scss */
body.edu section.body .hash {
  margin-top: 25px;
  margin-bottom: 15px;
}
/* line 63, ../sass/includes/_3_edu.scss */
body.edu section.body .hash .button {
  padding-left: 0;
}
/* line 67, ../sass/includes/_3_edu.scss */
body.edu section.body .hash .form-group, body.edu section.body .hash input, body.edu section.body .hash button {
  width: 100%;
}
/* line 72, ../sass/includes/_3_edu.scss */
body.edu section.body .drag {
  border: 1px dotted #858585;
  padding: 50px 25px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
/* line 81, ../sass/includes/_3_edu.scss */
body.edu section.body .drag .btn-file {
  border: none;
  background: none;
  box-shadow: none;
}
/* line 86, ../sass/includes/_3_edu.scss */
body.edu section.body .drag .btn-file input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
/* line 104, ../sass/includes/_3_edu.scss */
body.edu section.body .result {
  margin-bottom: 50px;
  text-align: center;
}
/* line 108, ../sass/includes/_3_edu.scss */
body.edu section.body .result h2 {
  text-align: center;
}
/* line 112, ../sass/includes/_3_edu.scss */
body.edu section.body .result h3 {
  margin-top: 5px;
  font-size: 14px;
}
/* line 118, ../sass/includes/_3_edu.scss */
body.edu section.body .details {
  margin-bottom: 30px;
}
/* line 122, ../sass/includes/_3_edu.scss */
body.edu section.body .details ul li {
  padding: 10px 0;
  border-bottom: 1px dotted #eee;
}
/* line 126, ../sass/includes/_3_edu.scss */
body.edu section.body .details ul li > div > div:first-child {
  font-weight: 400;
}
/* line 130, ../sass/includes/_3_edu.scss */
body.edu section.body .details ul li:last-child {
  border-bottom: 0;
}
/* line 137, ../sass/includes/_3_edu.scss */
body.edu section.body .sign {
  margin-bottom: 30px;
}
/* line 140, ../sass/includes/_3_edu.scss */
body.edu section.body .sign > div {
  background: #eee;
  margin-top: 5px;
  padding: 20px;
  border-radius: 5px;
}
/* line 146, ../sass/includes/_3_edu.scss */
body.edu section.body .sign > div img {
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 1px;
}
/* line 154, ../sass/includes/_3_edu.scss */
body.edu section.body .tech > div {
  background: #eee;
  margin-top: 5px;
  padding: 20px;
  border-radius: 5px;
}
/* line 161, ../sass/includes/_3_edu.scss */
body.edu section.body .tech > div ul li {
  margin-bottom: 5px;
}
/* line 165, ../sass/includes/_3_edu.scss */
body.edu section.body .tech > div ul li div.name {
  color: #ccc;
  font-size: 12px;
}
/* line 170, ../sass/includes/_3_edu.scss */
body.edu section.body .tech > div ul li div.value {
  font-family: "Courier New";
}
/* line 180, ../sass/includes/_3_edu.scss */
body.edu footer {
  background: #212121;
  margin-top: 50px;
  color: #fff;
}
/* line 188, ../sass/includes/_3_edu.scss */
body.edu footer > div > div > div {
  background-image: url("./../images/edu/isdi/footer-seal.png");
  background-repeat: no-repeat;
  background-position: right 20px;
  padding: 50px 0 100px;
}
/* line 196, ../sass/includes/_3_edu.scss */
body.edu footer .tech {
  margin-top: 30px;
}
/* line 35, ../sass/styles.scss */
body > nav {
  z-index: 1030;
}
/* line 1, ../sass/includes/_1_navbar.scss */
body > nav.navbar {
  background: transparent;
  margin-top: 5px;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
/* line 9, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-header {
  border: none;
}
/* line 13, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-header .navbar-brand img {
  width: 120px;
  opacity: 0.75;
  margin-top: -6px;
}
/* line 20, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-header .navbar-toggle {
  border: none;
}
/* line 23, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-header .navbar-toggle:hover {
  background: none;
}
/* line 27, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-header .navbar-toggle .icon-bar {
  background: white;
}
/* line 34, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-collapse {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  border: none;
  box-shadow: none;
  z-index: 1099;
}
@media (min-width: 768px) {
  /* line 34, ../sass/includes/_1_navbar.scss */
  body > nav.navbar .navbar-collapse {
    position: inherit;
    background: none;
  }
}
@media (min-width: 768px) {
  /* line 48, ../sass/includes/_1_navbar.scss */
  body > nav.navbar .navbar-collapse ul.navbar-nav > li {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
/* line 57, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-collapse ul.navbar-nav > li > a:hover {
  background: rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  /* line 55, ../sass/includes/_1_navbar.scss */
  body > nav.navbar .navbar-collapse ul.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.25) 0 0 1px;
  }
}
/* line 71, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-collapse ul.navbar-nav > li.active > a {
  background: rgba(255, 255, 255, 0.25);
}
/* line 74, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-collapse ul.navbar-nav > li.active > a:hover {
  background: rgba(255, 255, 255, 0.5);
}
/* line 81, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-collapse ul.navbar-nav > li.highlight > a {
  background: rgba(255, 255, 255, 0.15);
}
/* line 84, ../sass/includes/_1_navbar.scss */
body > nav.navbar .navbar-collapse ul.navbar-nav > li.highlight > a:hover {
  background: rgba(255, 255, 255, 0.5);
}
/* line 3, ../sass/includes/_1_footer.scss */
body footer .container-links {
  background: #212121;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.75);
}
/* line 8, ../sass/includes/_1_footer.scss */
body footer .container-links p {
  margin: 0;
}
/* line 13, ../sass/includes/_1_footer.scss */
body footer .container-strip {
  background: #212121;
  padding: 20px 0 50px;
  color: rgba(255, 255, 255, 0.75);
}
/* line 18, ../sass/includes/_1_footer.scss */
body footer .container-strip .right {
  text-align: right;
}
/* line 23, ../sass/includes/_1_footer.scss */
body footer .container-strip a span {
  font-size: 18px;
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.5);
}
/* line 30, ../sass/includes/_1_footer.scss */
body footer .container-strip a:hover span {
  color: white;
}
/* line 35, ../sass/includes/_1_footer.scss */
body footer .container-strip a:first-child span {
  margin-left: 0;
}
/* line 40, ../sass/includes/_1_footer.scss */
body footer .container-strip p {
  margin: 0;
}
