<div id="upload_file_done" class="done" data-country="{{ country }}">
    <span class="glyphicon glyphicon-file"></span>
    <p>
        {{ name }}<br> {{ size }}
    </p>
    <a href="#" data-action="remove-uploaded-file" class="btn btn-link">{% trans %}Remove{% endtrans %}</a>
    <a href="#" data-toggle="modal" data-target="#modal-prepare" class="btn btn-link">{% trans %}Sign or notarize{% endtrans %}</a>
</div>