<div id="upload_file_done" class="done">
    <span class="glyphicon glyphicon-file"></span>
    <p>
        {{ name }}<br> {{ size }}
    </p>
    <a href="#" data-action="remove-uploaded-file" class="btn btn-link">{% trans %}Remove{% endtrans %}</a>
</div>