<li class="row">
    <div class="col-xs-12 col-sm-4">
        {{ form_row(signer.name, {'attr': {'placeholder':"Signer's name"}}) }}
    </div>
    <div class="col-xs-8 col-sm-4">
        {{ form_row(signer.email, {'attr': {'placeholder':"Email address"}}) }}
    </div>
    <div class="col-xs-4 col-sm-3">
        {{ form_row(signer.phone, {'attr': {'data-name':'mobile-phone'}}) }}
    </div>
    <div class="hidden-xs col-sm-1">
        <a class="btn btn-link" data-action="remove-signer" href="#"><span class="glyphicon glyphicon-remove"></span></a>
    </div>

</li>