<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 margin-top-25">
    <h1>{% trans %}Close my account{% endtrans %}</h1>
    <p>{% trans %}Your can cancel and close your account anytime, for your security, we will keep all information for 7 days{% endtrans %}.</p>
    <div class="forms">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-account-close">{% trans %}Close my account{% endtrans %}...</button>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-account-close">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-header">
                <h4 class="modal-title">{% trans %}Close account{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans %}All your data will be deleted{% endtrans %}. {% trans %}For your secutiry, please, type again your Bindeo's account password{% endtrans %}:</p>
                <div class="share-send forms">
                    <form class="labels-no" name="close-account" action="{{ path('ajax_close_account') }}" autocomplete="off">
                        <div class="form-group has-feedback">
                            <label for="password" class="control-label">{% trans %}Password{% endtrans %}</label>
                            <div>
                                <input type="password" class="form-control" name="password" id="password" required="required" placeholder="{% trans %}Password{% endtrans %}">
                                <span data-name="password[error]" class="help-block collapse">{% trans %}Your password is not correct{% endtrans %}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">{% trans %}Close my account{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>